/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  background-color: #333333;
  color: white;
  height: 100px;
}

.siteName {
  font-size: 30px;
}

.toSupportPage {
  font-size: 20px;
  font-weight: bold;
}